/* Structure */
#content {
    padding-left: 100px;
    padding-right: 100px;

    h2 {
        width: 100%;
        text-align: center;
    }
}

.listing-lizard img {
    width: 16rem;
}

.listing-container {

    display: flex;

    .result-wrapper {

        flex: 1;

        .min_price,
        .max_price {
            width: 80px;
        }

        .breed ul {
            list-style-type: none;
            padding-left: 0;
        }

    }


    .cards-wrapper {
        flex: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }

    .card {
        width: 16rem;
        margin: 0.5rem;
    }

}



.show-lizard img {
    width: 20rem;
}

.show-wrapper {
    display: flex;
    flex-direction: row;

    .details {
        margin-left: 1rem;

        .title {
            text-align: center;
        }
    }
}