<h2>Lizard listings</h2>
<%# <%= link_to 'Sort', :action => "sort", :submit => 'radio_buttons'%>
<div>
  <button><%= link_to("Add new", new_listing_path) %></button>
</div>
<div class="listing-container">
  <div class="result-wrapper">
    <p>Refine Results</p>
    <%= render "filter", listings: @listings %>
  </div>
  <div class="cards-wrapper">
    <%= render "card",  listings: @listings %>
  </div>
</div>
