<h2>Lizard listings</h2>
<button><%= link_to("Add new", new_listing_path) %></button>
<div class="listing-wrapper">
  <div class="refine-wrapper">
  <p>Refine results</p>
  </div>
  <div class="cards-wrapper">
    <%= render "card",  listings: @listings %>
    <%# <% @listings.each do |listing| %>
      <%# <% render partial: "card", locals: {listings: listing}%>
      <%# <% end %>
    </div>
  </div>
